<?xml version="1.0"?>
<?xml-stylesheet type='text/xsl' href='interface.xsl'?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
	<name>0downstream</name>
	<summary>maintain a zeroinstall feed based on an upstream project</summary>
	<publish xmlns="http://gfxmonk.net/dist/0install" mode="0tools"/>
	<feed-for interface="http://gfxmonk.net/dist/0install/0downstream.xml"/>
	<description>
	</description>
	<group main="zeroinstall_downstream/main.py">
		<requires interface="http://repo.roscidus.com/python/python">
			<version before="3"/>
		</requires>
		<requires interface="http://gfxmonk.net/dist/0install/version.xml">
			<version not-before="0.8"/>
		</requires>
		<requires interface="http://gfxmonk.net/dist/0install/xmlformat.xml"/>
		<requires interface="http://gfxmonk.net/dist/0install/python-requests.xml"/>
		<requires interface="http://0install.net/2007/interfaces/ZeroInstall.xml">
			<version not-before="2.3"/>
			<environment insert="" mode="prepend" name="PYTHONPATH"/>
		</requires>
		<requires interface="http://0install.net/2006/interfaces/0publish"/>
		<command name="run" path="zeroinstall_downstream/main.py">
			<runner interface="http://repo.roscidus.com/python/python"/>
		</command>
		<environment insert="" mode="prepend" name="PYTHONPATH"/>
		<command name="test">
			<requires interface="http://gfxmonk.net/dist/0install/mocktest.xml">
				<version not-before="0.6.3"/>
			</requires>
			<requires interface="http://gfxmonk.net/dist/0install/python-beautifulsoup.xml"/>
			<runner command="run-py2" interface="http://gfxmonk.net/dist/0install/nosetests-runner.xml"/>
			<arg>-v</arg>
			<arg>--exe</arg>
		</command>
		<command name="notebook">
			<requires interface="http://gfxmonk.net/dist/0install/mocktest.xml"/>
			<requires interface="http://gfxmonk.net/dist/0install/python-beautifulsoup.xml"/>
			<runner command="notebook" interface="http://gfxmonk.net/dist/0install/ipython.xml"/>
		</command>
		<implementation version="{version}">
			<manifest-digest/>
			<archive href="{archive}"/>
		</implementation>
	</group>
</interface>
